p,
td,
li,
th {
 font-family: 'Source Sans Pro', sans-serif;
 color: #cccccc;
}

h1 {
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 65px;
  color: #ffdd00;
}

h2 {
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #cccccc;
  }

body {
  background: grey;
  text-align: justify;
}

nav {
 background: #303030;
 Width: 65%;
 margin: 0 auto;
 padding: 0 100px;
}

nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: auto;
}

nav li {
  display: inline-block;
  line-height: 50px;
  padding: 0 20px;
  float: center
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

nav a:hover {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

#logo {
  float: center;
  background: #ffdd00;
  color: #000000;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

#main {
  width: 65%;
  background: #303030;
  margin: 20px auto;
  padding: 20px 100px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}
